<?xml version="1.0"?>
<configuration>

  <appSettings>


    <add key="CMDB" value= "Data Source=107.107.10.222;Initial Catalog=Lsa_CMDB; user id=RichelieuADM;Password=1q2w3e4r" />
    <!--> Configurer la chaine de connexion a la BD CMDB pour logging, Auditing et alert-->
    <add key="TraceUrl" value="D:\Service\Logs\LsaComponents.log" />
    <add key="TraceUrlActif" value="1" />
    <!--> Configurer la trace alternative (path complet et fichier) dans les cas ou le system diagnostic est en erreur-->
    <add key="Environment" value= "Dev-Int" />
    <!--> Configurer l'environnement pour le suivi des traces-->
    <add key="SocketActif" value= "0" />
    <add key="SocketIPAddress" value= "" />
    <add key="SocketPort" value= "8801" />
    <add key="CompagnyName" value= "RichelieuCanada" />
    <!--> Configurer l'adresse et le Port du Endpoint pour Java EventManagement-->

  </appSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding
          name="GenericBindings"
          closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" >
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647"
              maxStringContentLength="2147483647" maxDepth="2147483647"
              maxBytesPerRead="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>

      <service  behaviorConfiguration="WcfBehavior" name="WcfEventsHandler.WcfPersistEvents">
        <endpoint address="" binding="netTcpBinding" name="eventHandler"
                  contract="LsaInterfaces.WcfServices.IWcfPersistEvents"
                  bindingConfiguration="GenericBindings" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/WcfEventsHandler/WcfPersistEvents/"/>
          </baseAddresses>
        </host>
      </service>

    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WcfBehavior">
          <!--serviceThrottling maxConcurrentCalls="15" maxConcurrentInstances="10"/-->
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="false"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sharedListeners>


      <add name="LogingServices" type="LsaEvent.EventBehavior.EventListener.DbmsWriterTraceListener, LsaEventPropagation" initializeData="CMDB"  />
      <add name="EventLogServices" type="LsaEvent.EventBehavior.EventListener.EventViewerTraceListener, LsaEventPropagation" initializeData="Lsa" source="Application" Log="Log"  />
      <add name="AuditServices" type="LsaEvent.EventBehavior.EventListener.DbmsWriterTraceListener, LsaEventPropagation" initializeData="CMDB" />
      <add name="AuditLogServices" type="LsaEvent.EventBehavior.EventListener.EventViewerTraceListener, LsaEventPropagation" initializeData="Lsa" source="Security" Log="Audit"  />
      <add name="StatisticServices" type="LsaEvent.EventBehavior.EventListener.DbmsWriterTraceListener, LsaEventPropagation" initializeData="CMDB" />
      <add name="StatisticLogServices" type="LsaEvent.EventBehavior.EventListener.EventViewerTraceListener, LsaEventPropagation" initializeData="Lsa" source="Statistic" Log="Bam"  />


      <add name="FileLog"     type="LsaEvent.EventBehavior.EventListener.TextWriterTraceListener" initializeData="FileLogWriter.log"/>

    </sharedListeners>
    <sources>
      <source name="LogingServices" switchName="TraceLogingSwitch"  >
        <listeners>
          <add name="LogingServices" />
          <add name="EventLogServices" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="AuditServices" switchName="TraceAuditSwitch"  >
        <listeners>
          <add name="AuditServices" />
          <add name="AuditLogServices" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="StatisticServices" switchName="TraceStatisticSwitch"  >
        <listeners>
          <add name="StatisticServices" />
          <add name="StatisticLogServices" />
          <remove name="Default" />
        </listeners>
      </source>


    </sources>
    <switches>
      <add name="TraceLogingSwitch" value="Information" />
      <add name="TraceAuditSwitch" value="Information" />
      <add name="TraceStatisticSwitch" value="Information" />

    </switches>
  </system.diagnostics>


  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
