<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
      <add key="BUsinessFunction" value="ServiceWrapper"/>
      <add key="ActiveConnectionString" value="ConnectionStringBureau"/>
      <add key="ConnectionStringLaurent" value="Data Source=LAURENT-PC\SQLEXPRESS;Initial Catalog=LSAManagementConsole; user id= SLA_Administrator ; password=Dorianlola1"/>
      <add key="ConnectionStringBureau" value="Data Source=LocalHost;Initial Catalog=LSAManagementConsole; user id= SLA_Administrator ; password=Dorianlola1"/>
      <add key="CMDBDatabase" value="Data Source=LocalHost;Initial Catalog=LSA_CMDB; ; user id= SLA_Administrator ; password=Dorianlola1"/>
      <!--> Configurer la chaine de connexion a la BD CMDB pour logging, Auditing et alert-->
      <add key="TraceUrl" value="C:\Services\Logs\PerfMon.log"/>
      <add key="TraceUrlActif" value="1"/>
      <!--> Configurer la trace alternative (path complet et fichier) dans les cas ou le system diagnostic est en erreur-->
      <add key="Environment" value="TDEV"/>
      <add key="CompagnyName" value="Desjardins"/>
      <add key="MinAvailableConnexionToPool" value="5"/>


    </appSettings>
    <system.web>
      <compilation debug="true"/>
    </system.web>

    <system.serviceModel>
      <bindings>
        <netTcpBinding>
          <binding name="GenericBindings" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
            <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647" maxDepth="2147483647" maxBytesPerRead="2147483647"/>
            <security mode="None"/>
          </binding>
        </netTcpBinding>
        <webHttpBinding>
          <binding name="wsHttpEndpointBinding">
            <security mode="None"/>
          </binding>
        </webHttpBinding>
      </bindings>

      <client>
        <endpoint address="net.tcp://10.219.55.133:8733/WcfEventsHandler/WcfPersistEvents" bindingConfiguration="GenericBindings" binding="netTcpBinding" contract="LsaInterfaces.WcfServices.IWcfPersistEvents" name="TCPLogging">
          <!--> Configurer la connexion du client pour l'adresse uniquement du endpoint de la persistence des events ATTENTION VERIFIER QUE LE PORT du cote endpoint est le meme-->
        </endpoint>
        <endpoint address="net.tcp://LocalHost:8733/WcfEventsHandler/WcfPersistEvents" bindingConfiguration="GenericBindings" binding="netTcpBinding" contract="LsaInterfaces.WcfServices.IWcfPersistEvents" name="LocalTCPLogging">
          <!--> Configurer la connexion du client pour l'adresse uniquement du endpoint de la persistence des events ATTENTION VERIFIER QUE LE PORT du cote endpoint est le meme-->
        </endpoint>

      </client>
      <services>
        <service name="LsaServices.LsaServiceWrapper" behaviorConfiguration="ServiceThrottled">
          <host>
            <baseAddresses>
              <!--add baseAddress = "HTTP://localhost:8100/LsaServices/LsaServiceWrapper/" /-->
              <add baseAddress="HTTP://localhost:8100/"/>
            </baseAddresses>
          </host>
            <endpoint address="Rest" binding="webHttpBinding" contract="LsaInterfaces.ServiceWrapper.IServiceWrapper"
                    bindingConfiguration="wsHttpEndpointBinding" behaviorConfiguration="webBehavior">            
            <identity>
              <dns value="localhost"/>
            </identity>
          </endpoint>
          <!--endpoint address="Soap" binding="basicHttpBinding" contract="LsaInterfaces.ServiceWrapper.IServiceWrapper"
                    >
            <identity>
              <dns value="localhost"/>
            </identity>
          </endpoint-->
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        </service>
        
      </services>
      <behaviors>
        <serviceBehaviors>
          <!-- TEST WEB BEHAVIOR -->
          <behavior name="ServiceThrottled">
            <serviceMetadata httpGetEnabled="false"/>
            <!-- Specify throttling behavior -->
            <serviceThrottling maxConcurrentCalls="128" maxConcurrentInstances="16"/>
          </behavior>
          <behavior name="Default">
            <serviceMetadata httpGetEnabled="false"/>
          </behavior>
        </serviceBehaviors>
        <!-- TEST WEB ENDPOINT -->
        <endpointBehaviors>
          <behavior name="webBehavior">
            <webHttp/>
          </behavior>
          <behavior name="MyServiceTypeBehaviors">
            <webHttp/>
          </behavior>
        </endpointBehaviors>
      </behaviors>
    </system.serviceModel>
    <system.diagnostics>
      <sharedListeners>

        <add name="LogingServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="LocalTCPLogging"/>
        <add name="AuditServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="LocalTCPLogging"/>
        <add name="StatisticServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="LocalTCPLogging"/>

      </sharedListeners>
      <sources>
        <source name="LogingServices" switchName="TraceLogingSwitch">
          <listeners>
            <add name="LogingServices"/>
            <remove name="Default"/>
          </listeners>
        </source>
        <source name="AuditServices" switchName="TraceAuditSwitch">
          <listeners>
            <add name="AuditServices"/>
            <remove name="Default"/>
          </listeners>
        </source>
        <source name="StatisticServices" switchName="TraceStatisticSwitch">
          <listeners>
            <add name="StatisticServices"/>
            <remove name="Default"/>
          </listeners>
        </source>


      </sources>
      <switches>
        <add name="TraceLogingSwitch" value="information"/>
        <add name="TraceAuditSwitch" value="information"/>
        <add name="TraceStatisticSwitch" value="information"/>

      </switches>
    </system.diagnostics>

    <startup>
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
</configuration>
