<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<configSections>
		<!-- Add your new Configuration Section here -->
		<section name="Listeners" type="Lavery.dynamicConfiguration.ListenerConfig, Lavery.dynamicConfiguration" />
	</configSections>

	<Listeners>
		<instances>
			<!--add name="AssiduityServiceBus" path=".\" assembly="AssiduityServiceBus" nameSpace="Lavery.Listeners" className="ListenerAssiduityServiceBus" active="True" />
			
			<add name="Assiduity" path=".\" assembly="ListenerAssiduite" nameSpace="Lavery.Listeners" className="MsSqlTimeCardPendingEvents; MsSqlTimeCardEvents; MsMqTimeCardEvents" active="True" />
			<add name="ErsNetFiles" path=".\" assembly="Lavery.ErsNet" nameSpace="Lavery.Listeners" className="ErsNetFilesEvents" active="True" /-->
			<add name="WsfE3" path=".\" assembly="Lavery.Listeners.Wcf.Services" nameSpace="Lavery.Listeners" className="ListenerWcfE3" active="True" />
		</instances>
	</Listeners>
	<connectionStrings>
		<add name="ConnectionReferential" connectionString="Data Source=localhost;Initial Catalog=LaveryIntegrationReferential;User Id=TestNotification; Password=Dorianlola2$" />

		<!--add name="ConnectionSource" connectionString="Data Source=LDBM3ESQLDEV;Initial Catalog=TE_3E_SAMPLE;User Id=TestNotification; Password=Dorianlola2$" />
		<add name="ConnectionSourceAdminMode" connectionString="Data Source=LDBM3ESQLDEV;Initial Catalog=TE_3E_SAMPLE;Integrated Security=SSPI" /-->

		<add name="ConnectionSource" connectionString="Data Source=ldba3esqlfunc1;Initial Catalog=TE_3E_UAT1;Integrated Security=SSPI" />
		<add name="ConnectionSourceAdminMode" connectionString="Data Source=ldba3esqlfunc1;Initial Catalog=TE_3E_UAT1;Integrated Security=SSPI" />

		<add name="ConnectionTarget" connectionString="Data Source=LDBMDEV;Initial Catalog=INTRANET_3E_UAT1;Integrated Security=SSPI" />

		<add name="ConnectionLocalMsMQ" connectionString="FormatName:Direct=OS:localhost\\" />
		<add name="ConnectionRemoteMsMQ" connectionString="FormatName:Direct=TCP:IPAdress\\" />
		<add name="ConnectionRemoteStorageAccount" connectionString="DefaultEndpointsProtocol=https;AccountName=cs2100320014a822bdd;AccountKey=IpRA/2AGEPshZaasz3ukKVkLP/Sm871vcstWr/bn1Kt/xh4FsJxhOpGtPqVj491mBwAhy9tvqnEwPb2Xgr8LLw==;EndpointSuffix=core.windows.net" />
		<add name="ConnectionServiceRelay" connectionString="Endpoint=sb://assiduity.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=jLg571R+G9tbDUf9dVXMtfmc94x5Z4yBqwh/GgbIg6I=;EntityPath=assiduityhip" />

		<add name="ConnectionE3RestApi" connectionString="http://ldbm3ewapi1/TE_3E_SAMPLE/web" />


	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="TraceUrlActif" value="1" />
		<add key="TraceUrl" value="C:\Temp\LaveryListeners.txt" />
		<add key="ThreadTimeOut" value="100" />
		<add key="MutexTimeOut" value="1000" />
		<add key="CancelOnJobEchec" value="0" />
		<!--add key="EliteDatabase" value="TE_3E_SAMPLE" /-->
		<add key="EliteDatabase" value="TE_3E_UAT1" />
		<add key="E3RestApi-Authentification" value="NTLM" />
		<add key="WcfResApiResponseGenerationPath" value="C:\Users\LMargelidon\source\repos\LaveryIntegration\APIs\Lavery.Wcf\Lavery.Wcf.Schemas\Matters" />
		<add key="WcfListenerClient" value="http://localhost:8100" />

		<!--add key="Listeners" value="assiduityServiceBus; AssiduitySqlNotification; AssiduityMsMq; Ers-Net; ListenerWcfE3" /-->
		<add key="Listeners" value="AssiduitySqlNotification; AssiduityMsMq; Ers-Net" />

		<add key="Ers-Net-SourceDirectory" value="C:\Integrations\services\OutboundErsNet" />
		<add key="Ers-Net-Files-MutexGlobalValue" value="Ers-Net-Files-GlobalValue" />
		<add key="Ers-Net-BlobContainer" value="ErsNetContainer" />


		<add key="AssiduiteTimeTypeMapping" value="15000:Absence:2;15001:Congé:2;15002:Congé sans solde:3;15003:Congé statutaire:17;15004:Décès:7;15005:Déménagement:9;15006:Maladie:21;15007:Mariage:2;15008:Vacances:1" />
		<add key="AssiduiteTargetDirectory" value="C:\Integrations\services\InboundAssiduityMessages" />
		<add key="AssiduiteMutexGlobalValue" value="AssiduiteGlobalValue" />
		<add key="AssiduiteNoBillableJobTypes" value="15001;15006;15008" />

		<add key="AssiduiteValidateQueue" value=".\private$\System.Lavery.assiduityValidate" />
		<add key="AssiduiteValidateDLQWrite" value=".\private$\System.Lavery.assiduityValidateDlqWrite" />
		<add key="AssiduiteValidateDLQRead" value=".\private$\System.Lavery.assiduityValidateDlqRead" />

		<add key="AssiduiteQueueTimeOutHours" value="0" />
		<add key="AssiduiteQueueTimeOutMinutes" value="0" />
		<add key="AssiduiteQueueTimeOutSecondes" value="5" />
		<add key="AssiduiteTimeCardPendingBaseDate" value="01/01/2021" />
		<add key="AssiduiteTimeCardBaseDate" value="01/01/2021" />



		<add key="AssiduiteServiceRelayHip" value="assiduityhip" />
		<add key="AssiduiteServiceRelayKeyName" value="RootManageSharedAccessKey" />
		<add key="AssiduiteServiceRelayKeyValue" value="jLg571R+G9tbDUf9dVXMtfmc94x5Z4yBqwh/GgbIg6I=" />




		<add key="CompagnyName" value="Lavery" />

		<!--add key="Environment" value="Dev-Int" /-->
		<add key="Environment" value="UAT" />
		<add key="LogEntrySchema" value="Dbo" />
		<add key="LogEntryTable" value="Bam_Log" />

	</appSettings>
	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

		<bindings>
			<!--<wsHttpBinding>-->
			<basicHttpBinding>
				<binding name="basicHttp" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="01:00:00" maxBufferPoolSize="2147483647">
					<security mode="None">
						<!--<transport clientCredentialType="None" />-->
					</security>
					<!--<reliableSession enabled="true" />-->
				</binding>
			</basicHttpBinding>
			<!--</wsHttpBinding>-->

			<webHttpBinding>
				<binding name="webHttp" openTimeout="00:10:00" closeTimeout="00:10:00" sendTimeout="00:10:00" receiveTimeout="01:00:00" maxBufferPoolSize="2147483647">
					<security mode="None">
						<!--<transport clientCredentialType="None" />-->
					</security>
				</binding>
			</webHttpBinding>
		</bindings>

		<services>

			<service name="Lavery.Wcf.Api.E3.WcfApiToE3">
				<endpoint address="rest" binding="webHttpBinding" bindingConfiguration="webHttp" contract="Lavery.Wcf.Api.E3.IE3Api" behaviorConfiguration="web"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8100" />
					</baseAddresses>
				</host>
			</service>
		</services>

		<!--client>
			<endpoint address="HTTP://Localhost:8100" binding="webHttpBinding" contract="Lavery.Wcf.Api.E3.IWcfClientMattersApi" name="postListOfMatter"></endpoint>
		</client-->
		<behaviors>
			<serviceBehaviors>
				<behavior name="mexBehaviour">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<!-- rest api-->
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>

			<endpointBehaviors>
				<behavior name="web">
					<webHttp />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.18.0.0" newVersion="1.18.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<system.diagnostics>
		<sharedListeners>


			<!--add name="LogingServices" type="Lavery.Events.Listeners.EventListener.TextWriterTraceListener, LsaEventPropagation" initializeData="localLog.txt" />

			<add name="AuditServices" type="Lavery.Events.Listeners.EventListener.TextWriterTraceListener, LsaEventPropagation" initializeData="localAudit.txt" />

			<add name="StatisticServices" type="Lavery.Events.Listeners.EventListener.TextWriterTraceListener, LsaEventPropagation" initializeData="localStatistic.txt" /-->


			<add name="LogingServices" type="Lavery.Events.Listeners.DbmsWriterTraceListener, Lavery.Tools" initializeData="ConnectionReferential" />

			<add name="AuditServices" type="Lavery.Events.Listeners.DbmsWriterTraceListener, Lavery.Tools" initializeData="ConnectionReferential" />

			<add name="StatisticServices" type="Lavery.Events.Listeners.DbmsWriterTraceListener, Lavery.Tools" initializeData="ConnectionReferential" />

		</sharedListeners>
		<sources>
			<source name="LogingServices" switchName="TraceLogingSwitch">
				<listeners>
					<add name="LogingServices" />

					<remove name="Default" />
				</listeners>
			</source>
			<source name="AuditServices" switchName="TraceAuditSwitch">
				<listeners>
					<add name="AuditServices" />

					<remove name="Default" />
				</listeners>
			</source>
			<source name="StatisticServices" switchName="TraceStatisticSwitch">
				<listeners>
					<add name="StatisticServices" />

					<remove name="Default" />
				</listeners>
			</source>
		</sources>
		<switches>
			<add name="TraceLogingSwitch" value="Information" />
			<add name="TraceAuditSwitch" value="ActivityTracing" />
			<add name="TraceStatisticSwitch" value="ActivityTracing" />
		</switches>
	</system.diagnostics>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.2.0.1" newVersion="4.2.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.1" newVersion="5.0.0.1" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Azure.Core" publicKeyToken="92742159e12e44c8" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.18.0.0" newVersion="1.18.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>