<?xml version="1.0"?>

<configuration>
  <system.net>
    <connectionManagement>
      <clear />
      <add address="*" maxconnection="50" />
    </connectionManagement>
  </system.net>
  <appSettings>

    <add key="BUsinessFunction" value= "testMessageBehavior" />
    <add key="ActiveConnectionString" value= "ConnectionStringLaurent" />
    <!--add key="ConnectionStringLaurent" value= "Data Source=LAURENT-PC\SQLEXPRESS;Initial Catalog=LSAFramework; integrated security = true" /-->
    <add key="ConnectionStringLaurent" value= "Data Source=127.0.0.1;Initial Catalog=LSAFramework; integrated security = true" />
    <add key="ConnectionStringBureau" value= "Data Source=IRICCRMT01,25862;Initial Catalog=LSAFramework; integrated security = true" />
    <add key="CMDBDatabase" value= "Data Source=LocalHost;Initial Catalog=LSA_CMDB; integrated security = true" />
    <!--> Configurer la chaine de connexion a la BD CMDB pour logging, Auditing et alert-->
    <add key="TraceUrl" value="Event.log" />
    <add key="TraceUrlActif" value="0" />
    <!--> Configurer la trace alternative (path complet et fichier) dans les cas ou le system diagnostic est en erreur-->
    <add key="Environment" value= "Test" />
    <!--add key="HttpDescartesEndPoint" value= "http://107.107.10.23:8082/RateEngineRequest" /-->
    <add key="RateAPIEndPoint" value= "http://107.107.10.23:8082/RateEngineRequest" />
    <add key="ShippingAPIEndPoint" value= "http://107.107.10.23:8083/RateEngineRequest" />
    <add key="E4ServiceEndPoint" value= "http://sricdes04:8880/E4Service/CloseSONum" />
    <add key="CompagnyName" value="RichelieuHQ" />
    <add key="MinAvailableConnexionToPool" value="5" />
    
    <add key="PerfMonMachinesList" value="localhost"/>
    <add key="PerfMonElapseRefreshCounter" value="10000" />
    <add key="PerfMonMaxProccessesNumber" value="5" />
    <add key="PerfMonSnapShot" value="20000" />
  </appSettings>
  <!--system.web>
    <compilation debug="true" />
  </system.web>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding
          name="GenericBindings"
          closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" >
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647"
              maxStringContentLength="2147483647" maxDepth="2147483647"
              maxBytesPerRead="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="wsHttpEndpointBinding">
          <security mode="None"  />          
        </binding>
      </webHttpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://172.17.195.131:8733/WcfEventsHandler/WcfPersistEvents" bindingConfiguration="GenericBindings"
         binding="netTcpBinding" contract="LsaInterfaces.WcfServices.IWcfPersistEvents" name="TCPLogging">
      </endpoint>
      <endpoint address="net.tcp://LocalHost:8733/WcfEventsHandler/WcfPersistEvents" bindingConfiguration="GenericBindings"
         binding="netTcpBinding" contract="LsaInterfaces.WcfServices.IWcfPersistEvents" name="LocalTCPLogging">

      </endpoint>

    </client>
    <services>
      <service name="DescartesRateApi.WcfServiceSlaParsingApi" behaviorConfiguration="ServiceThrolled">
        <host>
          <baseAddresses>
            <add baseAddress = "HTTP://localhost:8090/" />
          </baseAddresses>
        </host>

        <endpoint address ="" binding="webHttpBinding" 
                              contract="DescartesInterfaces.WcfServices.IWcfSlaParsingApi" 
                              bindingConfiguration="wsHttpEndpointBinding" behaviorConfiguration="webBehavior">

          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service  behaviorConfiguration="Default" name="WcfEventsHandler.WcfPersistEvents">
        <endpoint address="" binding="netTcpBinding" name="eventHandler"
                  contract="LsaInterfaces.WcfServices.IWcfPersistEvents"
                  bindingConfiguration="GenericBindings" >
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:8733/WcfEventsHandler/WcfPersistEvents/"/>
          </baseAddresses>
        </host>
      </service>
      
      <service name="PerformanceMonitoring.WcfCollectPerformanceCounter" behaviorConfiguration="Default">
        <host>
          <baseAddresses>
            <add baseAddress = "HTTP://localhost:8098/" />
          </baseAddresses>
        </host>

        <endpoint address ="" binding="webHttpBinding" 
                  contract="LsaInterfaces.WcfServices.iWcfPerformanceMonitoring" 
                  bindingConfiguration="wsHttpEndpointBinding" behaviorConfiguration="webBehavior">

          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>

        <behavior name="ServiceThrolled">
          <serviceMetadata httpGetEnabled="false"/>

          <serviceThrottling maxConcurrentCalls="128"
               maxConcurrentInstances="10"/>
        </behavior>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="false"/>                   
        </behavior>
      </serviceBehaviors>

      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>      
    </behaviors>
  </system.serviceModel>
  <system.diagnostics>
    <sharedListeners>

      <add name="LogingServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="LocalTCPLogging"  />
      <add name="AuditServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="LocalTCPLogging" />
      <add name="StatisticServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="LocalTCPLogging" />

    </sharedListeners>
    <sources>
      <source name="LogingServices" switchName="TraceLogingSwitch"  >
        <listeners>
          <add name="LogingServices" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="AuditServices" switchName="TraceAuditSwitch"  >
        <listeners>
          <add name="AuditServices" />
          <remove name="Default" />
        </listeners>
      </source>
      <source name="StatisticServices" switchName="TraceStatisticSwitch"  >
        <listeners>
          <add name="StatisticServices" />
          <remove name="Default" />
        </listeners>
      </source>


    </sources>
    <switches>
      <add name="TraceLogingSwitch" value="Information" />
      <add name="TraceAuditSwitch" value="Error" />
      <add name="TraceStatisticSwitch" value="Information" />

    </switches>
  </system.diagnostics>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration-->
<system.web>
    <compilation debug="true" />
  </system.web>
  <!--system.net>
    <connectionManagement>
      <clear />
      <add address="*" maxconnection="20" />
    </connectionManagement>
  </system.net-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding
          name="GenericBindings"
          closeTimeout="00:10:00" openTimeout="00:10:00"
          sendTimeout="00:10:00" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
          maxReceivedMessageSize="2147483647" >
          <readerQuotas maxArrayLength="2147483647" maxNameTableCharCount="2147483647"
              maxStringContentLength="2147483647" maxDepth="2147483647"
              maxBytesPerRead="2147483647" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <webHttpBinding>
        <binding name="wsHttpEndpointBinding">
          <security mode="None"  />
        </binding>
      </webHttpBinding>
    </bindings>
<client>
  <endpoint address="net.tcp://SRICDES18:8733/WcfEventsHandler/WcfPersistEvents" bindingConfiguration="GenericBindings"
            binding="netTcpBinding" contract="LsaInterfaces.WcfServices.IWcfPersistEvents" name="TCPLogging">
  
</endpoint>
<endpoint address="net.tcp://LocalHost:8733/WcfEventsHandler/WcfPersistEvents" bindingConfiguration="GenericBindings"
   binding="netTcpBinding" contract="LsaInterfaces.WcfServices.IWcfPersistEvents" name="LocalTCPLogging">
  
</endpoint>

</client>
<services>
  <service name="DescartesRateApi.WcfServiceSlaParsingApi" behaviorConfiguration="ServiceThrolled">
    <host>
      <baseAddresses>
        <add baseAddress = "HTTP://localhost:8090/" />
      </baseAddresses>
    </host>

    <endpoint address ="" binding="webHttpBinding"
                          contract="DescartesInterfaces.WcfServices.IWcfSlaParsingApi"
                          bindingConfiguration="wsHttpEndpointBinding" behaviorConfiguration="webBehavior">

      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
  </service>
  <service  behaviorConfiguration="Default" name="WcfEventsHandler.WcfPersistEvents">
    <endpoint address="" binding="netTcpBinding" name="eventHandler"
              contract="LsaInterfaces.WcfServices.IWcfPersistEvents"
              bindingConfiguration="GenericBindings" >
      <identity>
        <dns value="localhost"/>
      </identity>
    </endpoint>
    <endpoint address="mex" binding="mexTcpBinding" name="MexTcpBindingEndpoint" contract="IMetadataExchange"/>
    <host>
      <baseAddresses>
        <add baseAddress="net.tcp://localhost:8733/WcfEventsHandler/WcfPersistEvents/"/>
      </baseAddresses>
    </host>
  </service>
</services>
<behaviors>
  <serviceBehaviors>
  
    <behavior name="ServiceThrolled">
      <serviceMetadata httpGetEnabled="false"/>
  
      <serviceThrottling maxConcurrentCalls="64"
             maxConcurrentInstances="12"/>
    </behavior>
    <behavior name="Default">
      <serviceMetadata httpGetEnabled="false"/>

    </behavior>
  </serviceBehaviors>
  
  <endpointBehaviors>
    <behavior name="webBehavior">
      <webHttp />
    </behavior>
  </endpointBehaviors>
</behaviors>
</system.serviceModel>
<system.diagnostics>
  <sharedListeners>

    <add name="LogingServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="TCPLogging"  />
    <add name="AuditServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="TCPLogging" />
    <add name="StatisticServices" type="LsaEvent.EventBehavior.EventListener.WcfWriterEventListner, LsaEventPropagation" initializeData="TCPLogging" />

  </sharedListeners>
  <sources>
    <source name="LogingServices" switchName="TraceLogingSwitch"  >
      <listeners>
        <add name="LogingServices" />
        <remove name="Default" />
      </listeners>
    </source>
    <source name="AuditServices" switchName="TraceAuditSwitch"  >
      <listeners>
        <add name="AuditServices" />
        <remove name="Default" />
      </listeners>
    </source>
    <source name="StatisticServices" switchName="TraceStatisticSwitch"  >
      <listeners>
        <add name="StatisticServices" />
        <remove name="Default" />
      </listeners>
    </source>


  </sources>
  <switches>
    <add name="TraceLogingSwitch" value="Information" />
    <add name="TraceAuditSwitch" value="Information" />
    <add name="TraceStatisticSwitch" value="Information" />

  </switches>
</system.diagnostics>

<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
